name: Count lines

on:
    schedule:
        - cron: "45 3 * * 0" # Not at round hours and after midnight to avoid long wait. Every sunday. After daily workflow.

    workflow_dispatch:

permissions:
    contents: write

jobs:
    count:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                node-version: 20
            
            - name: Install cloc
              run: sudo apt-get install cloc

            - name: Count lines
              run: node scripts/count_lines.js
              env:
                GH_USER: I-had-a-bad-idea
                    
            - name: Commit changes
              run: |
                git config user.name 'github-actions[bot]'
                git config user.email 'github-actions[bot]@users.noreply.github.com'
                git add assets/repo-line-counts.txt
                git commit -m "Counted lines" || exit 0
                git push
