name: Update profile

on:
    schedule:
        - cron: "0 23 * * *" # Run at 23:00 UTC (midnight in Germany) every day. 

    workflow_dispatch:

permissions:
    contents: write

jobs:
    generate:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                node-version: 20
            
            - name: Install dependencies
              run: npm install node-fetch
            
            - name: Run GraphQL queries
              run: node scripts/graphql.js
              env:
                GH_USER: I-had-a-bad-idea
                GH_PAT: ${{ secrets.GH_PAT }}

            - name: Update language stats svg
              run: node scripts/language_stats.js
            
            - name: Update README
              run: node scripts/readme.js
            
            - name: Commit changes
              run: |
                git config user.name "github-actions"
                git config user.email "github-actions@github.com"
                git add assets/top-langs.svg
                git add README.md
                git commit -m "Update language stats" || exit 0
                git push