name: Update language stats

on:
    schedule:
        - cron: "0 23 * * *" # Run at 23:00 UTC (midnight in Germany) every day. 

    workflow_dispatch:

permissions:
    contents: write

jobs:
    generate:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                node-version: 20

            - run: npm install node-fetch
            - run: node scripts/language_stats.js
              env:
                GH_USER: I-had-a-bad-idea
                GH_PAT: ${{ secrets.GH_PAT }}
            
            - name: Commit changes
              run: |
                git config user.name "github-actions"
                git config user.email "github-actions@github.com"
                git add assets/top-langs.svg
                git commit -m "Update language stats" || exit 0
                git push